body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: sans-serif;
    height: 100%;
    overflow: hidden;
  }
  
  #text-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 3em;
    animation: pulse 2s infinite;
  }



  #countdown-container {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }

  #blinking-dot {
    animation: blink 1s infinite;
  }

  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes pulse {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; }
    100% { opacity: 0.3; }
  }